.club-info-card-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12rem;
    border-radius: 8px;
    border: 1.5px, solid, #D9D9D9;
    background-color: white;
    padding: 2rem;
    padding-right: 15rem;
}

.club-info-card-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1.5rem;
}

.club-info-card-container p {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0.5rem 0;
    color: #757575;
}

#club-info-card-descriptors {
    margin-top: 2rem;
    line-height: 1rem;
}

#club-info-card-descriptors strong {
    font-weight: 600;
    color: #FFB703;
}

.club-info-card-container .rating{
    position: absolute;
    left: 2rem;
    bottom: 1.25rem;
}