.club-card-container {
    display: flex;
    flex-direction: column;
    width: 28em;
    min-height: 15em;
    height: fit-content;
    border: 1px solid #D3D3D3;
    border-radius: 7px;
    background-color: white;
    box-sizing: border-box;
    text-align: left;
    padding: 1em 1.5em;
}

.club-card-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.club-card-container .save-club-button {
    position: relative;
    right: 0;
    top: 0;
}

.club-card-container .rating {
    position: relative;
    left: 0;
    bottom: 0;
}

.club-card-container h3 {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.club-card-container p {
    font-family: 'Inter', sans-serif;
    font-weight: 450;
    margin: 0;
    color: grey;
    font-size: 0.9em;
    line-height: 1.5;
}