.navbar {
    background-color: #ffecb4;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.side-by-side {
    justify-content: space-between;
    width: 100%;
}

.navbar button {
    background-color: transparent;
    border: transparent;
    margin: 0;
}

button:hover {
    text-decoration: underline;
}