.rating {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    background-color: #024363;
    color: white;
    border-radius: 5px;
    border: 0;
    width: 4rem;
    height: 2rem;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0.5rem 0;
}

.rating img{
    width: 0.6rem;
}