@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.saved-clubs-content-container {
    padding: 5rem;
    padding-top: 0;
}

.saved-clubs-content-container>* {
    margin-bottom: 2rem;
}

.saved-clubs-content-container h1{
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.saved-clubs-content-container .back-button {
    justify-content: flex-start;
}