.save-review {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}
.save-review-likes {
    font-size: 1em;
    padding: 0;
}

.save-review-button {
    width: 1em;
    height: 1em;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
}

.save-review-button img{
    width: 1em;
    height: 1em;
}