.save-button {
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
}

.save-button img{
    width: 1rem;
    height: 1rem;
}