@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.content-container {
    padding: 5rem;
    padding-top: 0;
}

.content-container>* {
    margin-bottom: 2rem;
}

h1{
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}